@font-face {
  font-family: 'decoration-font';
  src: url("../fonts/GreatVibes/GreatVibesRegular.ttf"); }

@font-face {
  font-family: 'decoration-font-rus';
  src: url("../fonts/GoodVibes.ttf"); }

@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/Lato/LatoRegular.ttf"); }

@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/Lato/LatoLight.ttf"); }

@font-face {
  font-family: 'LatoBold';
  src: url("../fonts/Lato/LatoSemibold.ttf"); }

@font-face {
  font-family: 'LatoBlack';
  src: url("../fonts/Lato/LatoBlack.ttf"); }

@font-face {
  font-family: 'LatoThin';
  src: url("../fonts/Lato/LatoThin.ttf"); }

@font-face {
  font-family: 'LatoHairline';
  src: url("../fonts/Lato/LatoHairline.ttf"); }

@font-face {
  font-family: 'icon';
  src: url("../fonts/fontello.#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2") format("woff2"), url("../fonts/fontello.svg") format("svg"); }
